openapi: "3.1.0"
info:
  title: Neural Vision API
  version: "0.1.0"
  description: |
    Virtual fitting & image generation pipeline API.

    ## Pipeline Flow
    ```
    seller/intake → body/infer → fitting/run → generation/run → delivery
    ```

    ## Response Envelope
    All mutation endpoints return a unified envelope:
    ```json
    {
      "gate": "PASS | HARD_GATE | DEGRADED",
      "warnings": [...],
      "manifest": { geometry_manifest },
      "data": { endpoint-specific payload }
    }
    ```

    ## Schema Source
    All schemas are published in the `neural-vision-contracts` repo.
    Consumer repos pin a specific tag via `contracts_pin.json`.

  contact:
    name: Neural Vision Team
  license:
    name: Proprietary

servers:
  - url: https://api.neural-vision.dev/api/v1
    description: Production
  - url: https://staging-api.neural-vision.dev/api/v1
    description: Staging

tags:
  - name: body
    description: Body inference (measurements + mesh)
  - name: garment
    description: Garment intake and proxy generation
  - name: fitting
    description: Virtual fitting computation
  - name: generation
    description: Image generation and delivery
  - name: runs
    description: Run status and artifact retrieval

# ────────────────── Paths ──────────────────

paths:
  /seller/intake:
    post:
      operationId: sellerIntake
      tags: [garment]
      summary: Garment seller intake
      description: |
        Accepts garment product information (images + metadata) from sellers.
        Generates garment proxy artifacts (mesh, meta, manifest).
        Hard gate flags in `garment_proxy_meta.json` may cause downstream early exit.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "../schemas/seller_intake_request.v1.schema.json"
      responses:
        "200":
          description: Intake completed (check `gate` for hard gate status)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GarmentIntakeEnvelope"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalError"

  /body/infer:
    post:
      operationId: bodyInfer
      tags: [body]
      summary: Body inference
      description: |
        Infers body mesh and measurements from user parameters.
        Produces `body_measurements_subset.json` and `geometry_manifest.json`.
        Null measurement keys trigger soft or degraded warnings.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "../schemas/body_infer_request.v1.schema.json"
      responses:
        "200":
          description: Body inference completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BodyInferEnvelope"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalError"

  /fitting/run:
    post:
      operationId: fittingRun
      tags: [fitting]
      summary: Run fitting computation
      description: |
        Executes virtual fitting using body and garment signal references.
        Input priority: `garment_proxy.npz` (preferred) → `.glb` + meta (fallback).
        Hard gate from garment triggers early exit with `fitting_facts_summary.json`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "../schemas/fitting_run_request.v1.schema.json"
      responses:
        "200":
          description: Fitting completed (check `gate` for early exit or degraded)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FittingRunEnvelope"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalError"

  /generation/run:
    post:
      operationId: generationRun
      tags: [generation]
      summary: Run image generation
      description: |
        Generates final virtual try-on image from fitting signals.
        Produces `generation_delivery.json` and `gen_provenance.json`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerationRunRequest"
      responses:
        "200":
          description: Generation completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenerationRunEnvelope"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalError"

  /runs/{run_id}/manifest:
    get:
      operationId: getRunManifest
      tags: [runs]
      summary: Get run manifest
      description: Retrieves the `geometry_manifest.json` for a specific run.
      parameters:
        - $ref: "#/components/parameters/RunId"
      responses:
        "200":
          description: Manifest found
          content:
            application/json:
              schema:
                $ref: "../schemas/geometry_manifest.v1.schema.json"
        "404":
          $ref: "#/components/responses/NotFound"

  /runs/{run_id}/status:
    get:
      operationId: getRunStatus
      tags: [runs]
      summary: Get run status
      description: Retrieves the current status of an asynchronous run.
      parameters:
        - $ref: "#/components/parameters/RunId"
      responses:
        "200":
          description: Run status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RunStatusResponse"
        "404":
          $ref: "#/components/responses/NotFound"

# ────────────────── Components ──────────────────

components:

  # ── Parameters ──
  parameters:
    RunId:
      name: run_id
      in: path
      required: true
      schema:
        type: string
        minLength: 1
      description: Unique run identifier

  # ── Reusable Response Envelope Base ──
  schemas:

    # Envelope wrapper used by all mutation endpoints
    EnvelopeBase:
      type: object
      required: [gate, warnings, manifest]
      properties:
        gate:
          type: string
          enum: [PASS, HARD_GATE, DEGRADED]
          description: Gate outcome (see catalog/errors.md §6)
        warnings:
          type: array
          items:
            type: string
          description: Warning codes from processing
        manifest:
          $ref: "../schemas/geometry_manifest.v1.schema.json"
        run_id:
          type: string
          description: Assigned run identifier

    # ── Endpoint-specific envelopes ──

    GarmentIntakeEnvelope:
      allOf:
        - $ref: "#/components/schemas/EnvelopeBase"
        - type: object
          required: [data]
          properties:
            data:
              type: object
              required: [proxy_meta]
              properties:
                proxy_meta:
                  $ref: "../schemas/garment_proxy_meta.v1.schema.json"
                proxy_mesh_url:
                  type: string
                  format: uri
                  description: URL to download garment_proxy_mesh.glb (if not hard-gated)
                proxy_npz_url:
                  type: string
                  format: uri
                  description: URL to download garment_proxy.npz (if available)

    BodyInferEnvelope:
      allOf:
        - $ref: "#/components/schemas/EnvelopeBase"
        - type: object
          required: [data]
          properties:
            data:
              type: object
              required: [measurements]
              properties:
                measurements:
                  $ref: "../schemas/body_measurements_subset.v1.schema.json"
                mesh_url:
                  type: string
                  format: uri
                  description: URL to download body_mesh.npz

    FittingRunEnvelope:
      allOf:
        - $ref: "#/components/schemas/EnvelopeBase"
        - type: object
          required: [data]
          properties:
            data:
              type: object
              required: [facts]
              properties:
                facts:
                  $ref: "../schemas/fitting_facts_summary.v1.schema.json"

    GenerationRunRequest:
      type: object
      required: [fitting_run_id]
      additionalProperties: true
      properties:
        fitting_run_id:
          type: string
          minLength: 1
          description: Run ID of a completed fitting/run
        options:
          type: object
          additionalProperties: true
          properties:
            output_format:
              type: string
              enum: [png, webp, jpeg]
              default: png
            resolution:
              type: string
              enum: ["512x512", "768x1024", "1024x1024"]
              default: "1024x1024"
        idempotency_key:
          type: string

    GenerationRunEnvelope:
      allOf:
        - $ref: "#/components/schemas/EnvelopeBase"
        - type: object
          required: [data]
          properties:
            data:
              type: object
              required: [delivery, provenance]
              properties:
                delivery:
                  $ref: "../schemas/generation_delivery.v1.schema.json"
                provenance:
                  $ref: "../schemas/gen_provenance.v1.schema.json"
                image_url:
                  type: string
                  format: uri
                  description: URL to download final generated image

    RunStatusResponse:
      type: object
      required: [run_id, status, module]
      properties:
        run_id:
          type: string
        status:
          type: string
          enum: [queued, running, completed, failed, early_exit]
        module:
          type: string
          enum: [body, garment, fitting, generation]
        gate:
          type: string
          enum: [PASS, HARD_GATE, DEGRADED]
        created_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
        manifest:
          $ref: "../schemas/geometry_manifest.v1.schema.json"
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string

    # ── Error response body ──
    ErrorBody:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: object
          additionalProperties: true

  # ── Shared Responses ──
  responses:
    ValidationError:
      description: Request body failed schema validation
      content:
        application/json:
          schema:
            type: object
            required: [gate, warnings, error]
            properties:
              gate:
                type: string
                const: VALIDATION_ERROR
              warnings:
                type: array
                items:
                  type: string
              error:
                $ref: "#/components/schemas/ErrorBody"

    InternalError:
      description: Unexpected server error
      content:
        application/json:
          schema:
            type: object
            required: [gate, error]
            properties:
              gate:
                type: string
                const: INTERNAL_ERROR
              error:
                $ref: "#/components/schemas/ErrorBody"

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            required: [gate, error]
            properties:
              gate:
                type: string
                const: NOT_FOUND
              error:
                $ref: "#/components/schemas/ErrorBody"
